<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">

      <h4 class="mb-3 mx-auto">Reusable & validated input component</h4>

      <div [formGroup]="loginForm">
        <div class="card">
          <div class="card-header">Login</div>
          <div class="card-body">

            <div class="form-floating mb-3">
              <input type="text" class="form-control touched" formControlName="email" placeholder="enter email">
              <label for="label"><strong>Email</strong></label>
              <!-- validation messages -->
              <div class="invalid-feedback">Please provide email</div>
              <div class="invalid-feedback"> Invalid email address </div>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" formControlName="password" placeholder="enter password">
              <label for="label"><strong>Password</strong> </label>
            </div>
            <button class="btn btn-dark" [disabled]="this.loginForm.invalid">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>